<!--<div class="row">
  <div class="col-2 text-white" style="padding-left: 0; padding-right: 0;">
    <div class="card bg-transparent" *ngIf="userDetails" style="height: 100%;">
      <ul class="list-group bg-transparent text-center">
        <li class="list-group-item bg-transparent"><strong>First name : </strong>{{userDetails.FirstName}}</li>
        <li class="list-group-item bg-transparent"><strong>Last name : </strong>{{userDetails.LastName}}</li>
        <li class="list-group-item bg-transparent"><strong>Username : </strong>{{userDetails.UserName}}</li>
        <li class="list-group-item bg-transparent"><strong>Email : </strong>{{userDetails.Email}}</li>
        <li class="list-group-item bg-transparent"><strong>Phone number : </strong>{{userDetails.PhoneNumber}}</li>
      </ul>
      <button class="btn btn-danger my-2 my-sm-0" (click)="this.service.onLogout()">Logout</button>
    </div>-->
    <app-list></app-list>
  <!--</div>
</div>-->