<pre><code style="color: white;" class="typescript">
import {{'{'}} FileModel } from '../../shared/file-model.model';
import {{'{'}} Component, OnInit } from '@angular/core';
import {{'{'}} HttpClient, HttpHeaders } from '@angular/common/http';
import {{'{'}} ToastrService } from 'ngx-toastr';
import {{'{'}} UserService } from 'src/app/shared/user.service';
import {{'{'}} Router } from '@angular/router';

@Component({{'{'}}
  selector: 'app-list-view',
  templateUrl: './list-view.component.html',
  styles: []
})
export class ListViewComponent implements OnInit {{'{'}}
  config: any;

  constructor(
    private service: UserService,
    private http: HttpClient,
    private router: Router,
  
  ) {{'{'}}
    this.config = {{'{'}}
      itemsPerPage: 10,
      currentPage: 1,
      totalItems : 0
    };
   }

  ngOnInit() {{'{'}}
    this.service.getUserId();
    this.refreshList();

  }

  populateForm(file: FileModel) {{'{'}}
    this.service.formData = Object.assign({{'{'}}}, file);
    this.router.navigate(['/view']);
    hljs.initHighlightingOnLoad();
    
  }
  pageChanged(event){{'{'}}
    this.config.currentPage = event;
    this.service.curentPage = event;
    this.refreshList();
    
  }

  selectSyntax(file: FileModel){{'{'}}
    this.service.formData = Object.assign({{'{'}}}, file);
    const encodedSyntax = encodeURIComponent(this.service.formData.Syntax);
    return this.http.get(this.service.BaseURL + '/File/FindBySyntax?Syntax='+ encodedSyntax)
    .toPromise()
            .then(res => this.service.list = res as FileModel[]);
}

  refreshList() {{'{'}}
    this.service.getPaginationInfo().subscribe(result =>
      {{'{'}}
        this.config.totalItems =result;
      },
      (err) => {{'{'}}console.log(err);}
      );
    this.http.get(this.service.BaseURL + '/File')
      .toPromise()
      .then(res => this.service.list = res as FileModel[]);
  }
  
}    import {{'{'}} FileModel } from '../../shared/file-model.model';
    import {{'{'}} Component, OnInit } from '@angular/core';
    import {{'{'}} HttpClient, HttpHeaders } from '@angular/common/http';
    import {{'{'}} ToastrService } from 'ngx-toastr';
    import {{'{'}} UserService } from 'src/app/shared/user.service';
    import {{'{'}} Router } from '@angular/router';
    import hljs from 'highlight.js';
    
    @Component({{'{'}}
      selector: 'app-list-view',
      templateUrl: './list-view.component.html',
      styles: []
    })
    export class ListViewComponent implements OnInit {{'{'}}
      config: any;
    
      constructor(
        private service: UserService,
        private http: HttpClient,
        private router: Router,
      
      ) {{'{'}}
        this.config = {{'{'}}
          itemsPerPage: 10,
          currentPage: 1,
          totalItems : 0
        };
       }
    
      ngOnInit() {{'{'}}
        this.service.getUserId();
        this.refreshList();
    
      }
    
      populateForm(file: FileModel) {{'{'}}
        this.service.formData = Object.assign({{'{'}}}, file);
        this.router.navigate(['/view']);
        hljs.initHighlightingOnLoad();
        
      }
      pageChanged(event){{'{'}}
        this.config.currentPage = event;
        this.service.curentPage = event;
        this.refreshList();
        
      }
    
      selectSyntax(file: FileModel){{'{'}}
        this.service.formData = Object.assign({{'{'}}}, file);
        const encodedSyntax = encodeURIComponent(this.service.formData.Syntax);
        return this.http.get(this.service.BaseURL + '/File/FindBySyntax?Syntax='+ encodedSyntax)
        .toPromise()
                .then(res => this.service.list = res as FileModel[]);
    }
    
      refreshList() {{'{'}}
        this.service.getPaginationInfo().subscribe(result =>
          {{'{'}}
            this.config.totalItems =result;
          },
          (err) => {{'{'}}console.log(err);}
          );
        this.http.get(this.service.BaseURL + '/File')
          .toPromise()
          .then(res => this.service.list = res as FileModel[]);
      }
      
    }
</code></pre>